<?xml version="1.0" encoding="UTF-8" ?>
<root>
    <epoch_size_us>100</epoch_size_us><!-- us -->
    <cache_max_length>500</cache_max_length> <!-- 10 min  600s 600000ms 60000 epochs-->

    <shard_num>1</shard_num>
    <merge_thread_num>5</merge_thread_num> <!--handle txn merge-->
    <glog_path>/tmp</glog_path>
    <print_mode_size>100</print_mode_size>

    <isolation>3</isolation><!-- 1:RC 2:RR 3:SI 4:SER -->

    <ycsb_ops>10</ycsb_ops><!-- 1:RC 2:RR 3:SI 4:SER -->
    <ycsb_read>80</ycsb_read>
    <ycsb_write>20</ycsb_write>

    <init_txn_num>100</init_txn_num>
    <txn_row_size>10</txn_row_size> <!-- YCSB: 10, TPCC: X -->
</root>